{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h2> {{name}} Goals And Achievments </h2>
 <table class="table table-hover ">
        <thead class="bigger">
        <tr>
            <th>flght_date</th>
            <th>first type</th>
            <th>leader</th>
              <th>Notes</th>
        </tr>
        </thead>
{% for goal in air_info %}
        <tr>
             <td class=" bigger">{{goal.flight_date}} </td>
            <td class=" bigger">{{goal.flight_type}} {{goal.last_name}}</td>
            <td class="bigger">{{goal.leader}}</td>
            <td class="bigger">{{goal.notes}}</td>
        </tr>
{% endfor %}
    </table>

<a href="/airgoals" class="btn btn-primary btn-lg active " role="button" aria-pressed="true">Back</a>


</body>
</html>