

{% load static %}
<!DOCTYPE html>
<html>
<head>
        <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">

    <title>Title</title>
</head>

    <div class="container">
        <hr>
            <blockquote class="blockquote text-center">
    Contact The Kahadit
            </blockquote>
        <hr>
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
            <blockquote class="blockquote text-center">
        <button type="submit"> Send </button>
            </blockquote>
    </form>

    </div>
<div class="container"><a href="/profile" class="btn btn-primary btn-lg active " role="button" aria-pressed="true">Back Home</a>
</div>


</body>


</html>