
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <hr>
<h3>Previous Goals Have Been Deleted</h3>
    <hr>
    <br>
    <a href="/profile" class="btn btn-primary btn-lg active " role="button" aria-pressed="true">Back To Home</a>
    <a href="/managergoalupdate" class = "btn btn-primary btn-lg active " role="button" aria-pressed="true">Add New Goal </a>
    <br>

</div>
</body>
</html>
















