

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> shirli motro</title>
    <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="
    sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
    <body>
        <br>
        <div class="container">
            <br>
        <div class ="row">
            <br>
            <div class="col-md-3">
                <div class="card card-body border-info " id="profile-wrapper h-100">
                    <img id="profile-pic" src="{% static 'images/plane2.jpg' %}" >
                    <hr>
                    <h3>107! welcome</h3>
                    <a href="/login"> Please Log In  Here</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h1> About</h1>
                    <hr>
                    <p>At the start of the Second World War No.107 Squadron was a light bomber squadron</p>
                    <p>, equipped with the Bristol Blenheim. It was one of the few bomber squadrons to begin active Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too.
                    Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too.Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too., Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too.</p>
                </div>
            </div>
        </div>
                <br>
            <div class ="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h1>headlines</h1>
                        <hr>
                        <p>Oscar-winning actor Tom Hanks has revealed that he and wife Rita Wilson have tested positive for the new coronavirus in Australia. Hanks and Wilson, both 63, sought medical advice after experiencing the symptoms of a cold in Queensland, the actor wrote on Instagram. They are now isolated in stable condition at an Australian hospital, officials said.
                         The couple were on the Gold Coast as Hanks made a film about Elvis Presley.
                    </p>
                    </div>
                </div>

                <br>

                <div class="col-md-4">
                    <div class="card card-body h-100">
                        <h1>about korona</h1>
                        <hr>
                        <p>Next Tuesday, 17 March, should have been the day that brings the Irish diaspora together in celebration.
                        But many St Patrick's Day celebrations have this year been postponed on both sides of the Atlantic due to fears over coronavirus.
                        In the US, events in New York - which is widely considered the biggest parade of all - and Chicago are among them.</p>
                    </div>
                </div>
            </div>
                <br>

            <div class ="row">

                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h1>about me</h1>
                        <hr>
                        <p>Next Tuesday, 17 March, should have been the day that brings the Irish diaspora together in celebration.
                        But many St Patrick's Day celebrations have this year been postponed on both sides of the Atlantic due to fears over coronavirus.
                        In the US, events in New York - which is widely considered the biggest parade of all - and Chicago are among them.</p>
                    </div>
                </div>
            </div>
        </div>

</body>


</html>