{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style></style>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
         <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >

</head>
<body>


<div class="container">
<blockquote class="blockquote text-center">
Unmanned shifts
      <footer class="blockquote-footer">Once You Click <cite title="Source Title">You are SCREWED !</cite></footer>

</blockquote>

    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="bigger">תאריך </th>
            <th class="bigger">סוג כוננות </th>
            <th class="bigger"> מוביל / מספר 2 </th>
            <th class="bigger">הרשמו כאן</tH>
        </tr>
        </thead>

{% for available in available %}
        <tr class="bigger">
            <td class="bigger">{{available.flight_date}} </td>
            <td class="bigger"> {{available.flight_type}}</td>
            <td class="bigger">{{available.leader}}</td>
            <td class="bigger"> <a  href="/newshift?flight_date={{available.flight_date}}&flight_type={{available.flight_type}}&leader={{available.leader}}&">
            בחר<br> כוננות </a></td>
        </tr>
{% endfor %}
    </table>

    {% if request.user.is_staff %}
    <a href="/managerpage" class="btn btn-primary btn-lg active "  role="button" aria-pressed="true">Back To Home</a>
           {% else %}
    <a href="/profile" class="btn btn-primary btn-lg active "  role="button" aria-pressed="true">Back To Home</a>
       {% endif %}

</div>
</body>
</html>