{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
        <link href= "{% static '/css/main.css' %}"  rel='stylesheet' type=" text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Wrong Date Format</h2>
<a href="/managerstaffing" class="btn btn-primary btn-lg active "  role="button" aria-pressed="true">Back To Staffing</a>

</body>
</html>